// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  overflow: hidden;
}

//body,
//html {
//  height: 100vh;
//  width: 100vw;
//  cursor: none;
//  transform-style: preserve-3d;
//  -ms-overflow-style: none;
//  scrollbar-width: none;
//}
//
//body::-webkit-scrollbar,
//html::-webkit-scrollbar {
//  //display: none;
//}

button,
input,
select,
textarea {
  color: $text-color;
  font-family: $font-basic;
  font-size: 18px;
  border: 0;
  border-radius: 0;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
  & > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
    &:before {
      content: counters(item, ".") ". ";
      display: table-cell;
      padding-right: 0.5em;
    }
  }
  li {
    ol {
      & > li {
        margin: 0;
        &:before {
          :before {
            content: counters(item, ".") " ";
          }
        }
      }
    }
  }

}

a {
  outline: none;
  transition: .2s ease-in-out color;
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

input::-webkit-input-placeholder {
  color: #A0A0A0;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  color: #A0A0A0;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  color: #A0A0A0;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  color: #A0A0A0;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

@media (max-width: 1200px) {
  body {
    min-height: 450px;
  }
}
