.overflow-hide {
  overflow: hidden !important;
}

.overflow-unset {
  overflow: unset !important;
}

.w-0 {
  width: 0 !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  &.black {
    background: #110D10;
  }
}

.wrapper-content {
  flex: 1 0 auto;
  &.black {
    background: #110D10;
  }
}

.sticky {
  position: fixed;
  z-index: 101;
}

.stop {
  position: relative;
  z-index: 101;
}

.main-container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@-webkit-keyframes tape {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -400%;
  }
}

@keyframes tape {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -400%;
  }
}

@media (max-width: $md) {

}
