body {
  color: #fff;
  font-family: $font-basic;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  background-color: #000;
  height: 100% !important;
  //padding-top: 55px;
  //padding-bottom: 90px;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  font-size: 100%;
  line-height: 1.28;
  margin: 0;
  font-family: $font-add;
  font-weight: bold;
}

img {
  max-width: 100%;
}

p {
  font: inherit;
  margin: 0 0 30px;
  font-size: 18px;
}

h1 {
  font-size: 60px;
  margin-bottom: 60px;
  margin-top: 80px;
}

h2 {
  font-size: 60px;
  margin-bottom: 35px;
}

h3 {
  font-size: 36px;
  margin-bottom: 10px;
}

h4 {
  font-size: 23px;
  margin-bottom: 10px;
  font-family: $font-basic;
}



@media (max-width: $md) {
  h1 {
    font-size: 46px;
    line-height: 1.25;
    margin-bottom: 15px;
  }
  h2 {
    font-size: 46px;
    line-height: 1.25;
    margin-bottom: 15px;
  }
  h3 {
    font-size: 34px;
    line-height: 1.25;
  }
  h4 {
    font-size: 20px;
    line-height: 1.25;
  }
  p {
    margin-bottom: 20px;
    font-size: 14px;
  }
}

//@media (max-width: $sm) {
//  h1 {
//    font-size: 38px;
//    margin-bottom: 25px;
//    margin-top: 40px;
//  }
//  h2 {
//    font-size: 38px;
//    margin-bottom: 25px;
//  }
//  h3 {
//    font-size: 30px;
//  }
//  h4 {
//    font-size: 20px;
//  }
//}
