#blog {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  pointer-events: none;
  transform: translate(0, 32px);

  .box {
    max-width: 460px;
  }
  .main-container {
    //height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .blog__wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .swiper-nav-info {
    font-family: $font-add;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    min-width: 62px;
    margin: 0 20px;
  }
  .swiper-nav {
    transition: filter 0.5s, opacity 0.5s;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
  .swiper-button-prev {
    position: static;
    width: 52px;
    height: 32px;
    background-size: contain;
    margin: 0;

    @include bgsvg(
                    '<svg viewBox="0 0 52 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M47 16L5 16" stroke="white" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M10 21L5 16L10 11" stroke="white" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      '
    );
  }
  .swiper-button-next {
    position: static;
    width: 52px;
    height: 32px;
    background-size: contain;
    margin: 0;
    @include bgsvg(
                    '<svg  viewBox="0 0 52 32" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5 16L47 16" stroke="white" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M42 11L47 16L42 21" stroke="white" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
      '
    );
  }
  .swiper-container {
    display: flex;
    flex-direction: column;
  }
  .swiper-slide {
    width: 360px;
    transform: translateY(0);
    transition: .4s ease-in-out opacity, .3s ease-in-out transform;
    will-change: opacity, transform;
    &.hide{
      opacity: 0;
      transform: translateY(30px);
    }
  }

  .swiper-wrapper {
    margin-left: -480px;
  }

  .blog__btn-all{
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    margin-left: auto;
    &:after{
      content: '';
      display: inline-block;
      width: 52px;
      height: 32px;
      margin-left: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: middle;
      @include bgsvg(
                      '<svg  viewBox="0 0 52 32" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5 16L47 16" stroke="white" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M42 11L47 16L42 21" stroke="white" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
      '
      );
    }
  }
}

.blog-item-container {
  width: 25%;
  width: 100%;
  .blog-item {
    z-index: 1;
    position: relative;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    transition: opacity 0.5s;
    text-decoration: none;
    padding: 15px 15px 0;
    height: 440px;
    .blog-item__img {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 150px;
      min-height: 150px;
      margin-bottom: 15px;
      transition: .2s ease-in-out filter;
      will-change: filter;
    }
    .title {
      font-family: $font-add;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 150%;
      transition: transform 0.5s;
      color: #ffffff;
      margin-bottom: 15px;
      max-height: 72px;
      overflow: hidden;
    }

    p{
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      color: rgba(255, 255, 255, 0.8);
      margin: 0 0 15px;
      max-height: 85px;
      overflow: hidden;
      transition: transform 0.5s, color 0.5s ;
    }
    .blog__tags{
      margin-bottom: 15px;
      li{
        display: inline-block;
        font-size: 12px;
        line-height: 150%;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.8);
        &:first-of-type{
          font-weight: normal;
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }
    .blog-btn {
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      text-align: center;
      color: #FFFFFF;
      opacity: 0.5;
      border-top: rgba(255, 255, 255, 0.1) 1px solid;
      display: block;
      width: calc(100% + 30px);
      margin-left: -15px;
      padding: 14px;
      box-sizing: border-box;
      transition: .2s ease-in-out opacity;
    }

    .blog__footer{
      margin-top: auto;
    }
    &:hover {
      .blog-item__img{
        -webkit-filter: brightness(1.15);
        filter: brightness(1.15);
      }

      .title {
        transform: translate(0, -5px);
      }
      p{
        transform: translate(0, -5px);
        color: #fff;
      }
      .blog-btn {
        //transform: translate(0, 0);
        opacity: 1;
      }
    }



  }
}

#blog-grid {
  height: fit-content;
  transition: filter 0.5s, opacity 0.5s;
  .main-container {
    height: fit-content;
    .header {
      font-size: 44px;
    }
  }
}

#blog-items-grid {
  //width: 100%;
  //display: flex;
}

#blog {
  &.-hovered {
    .swiper-nav {
      filter: blur(16px);
      opacity: 0.6;
    }
    .blog-item {
      opacity: 0.3;
      &:hover {
        opacity: 1;
      }
    }
    #blog-grid {
      filter: blur(16px);
      opacity: 0.6;
    }
  }

  &.-active {
    opacity: 1;
    pointer-events: all;
    transform: translate(0, 0);
    transition: opacity 0.5s 0.5s, transform 0.5s 0.5s;
  }
  &.-prev {
    opacity: 0;
    pointer-events: none;
    transform: translate(0, -32px);
    transition: opacity 0.5s, transform 0.5s;
  }
}