#blog {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  pointer-events: none;
  transform: translate(0, 32px);

  .box{
    max-width: 460px;
  }
  .main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .swiper-nav-info {
    font-family: $font-add;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    min-width: 62px;
    margin: 0 20px;
  }
  .swiper-nav {
    transition: filter 0.5s, opacity 0.5s;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 15px;
  }
  .swiper-button-prev {
    position: static;
    width: 52px;
    height: 32px;
    background-size: contain;
    margin: 0;

    @include bgsvg(
                    '<svg viewBox="0 0 52 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M47 16L5 16" stroke="white" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M10 21L5 16L10 11" stroke="white" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      '
    );
  }
  .swiper-button-next {
    position: static;
    width: 52px;
    height: 32px;
    background-size: contain;
    margin: 0;
    @include bgsvg(
                    '<svg  viewBox="0 0 52 32" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5 16L47 16" stroke="white" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M42 11L47 16L42 21" stroke="white" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
      '
    );
  }
  .swiper-container {
    display: flex;
    flex-direction: column;
  }
}

.blog-item-container {
  width: 25%;
  width: 100%;
  //padding: 0 16px;

  .blog-item {
    z-index: 1;
    position: relative;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    transition: opacity 0.5s;
    text-decoration: none;
    justify-content: flex-end;
    padding: 15px;
    height: 440px;

    .title {
      font-family: $font-add;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 150%;
      transform: translate(0, 72px);
      transition: transform 0.5s;

      color: #ffffff;
    }

    .simple-button {
      margin-top: 24px;
      transform: translate(0, -36px);
      transition: transform 0.5s, opacity 0.5s;
      opacity: 0;
    }

    &:hover {
      .title {
        transform: translate(0, 0);
      }
      .simple-button {
        transform: translate(0, 0);
        opacity: 1;
      }
    }

    &:hover ~ .bg {
      opacity: 1;
    }

  }
}

#blog-grid {
  height: fit-content;
  transition: filter 0.5s, opacity 0.5s;
  .main-container {
    height: fit-content;
    .header {
      font-size: 44px;
    }
  }
}

#blog-items-grid {
  width: 100%;
  display: flex;
}

#blog {
  &.-hovered {
    .swiper-nav {
      filter: blur(16px);
      opacity: 0.6;
    }
    .blog-item {
      opacity: 0.3;
      &:hover {
        opacity: 1;
      }
    }
    #blog-grid {
      filter: blur(16px);
      opacity: 0.6;
    }
  }

  &.-active {
    opacity: 1;
    pointer-events: all;
    transform: translate(0, 0);
    transition: opacity 0.5s 0.5s, transform 0.5s 0.5s;
  }
  &.-prev {
    opacity: 0;
    pointer-events: none;
    transform: translate(0, -32px);
    transition: opacity 0.5s, transform 0.5s;
  }
}