#contact {
  height: 100%;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s, transform 0.5s;

  transform: translate(0, 32px);

  &.-active {
    opacity: 1;
    pointer-events: all;
    transform: translate(0, 0);
    transition: opacity 0.5s 0.5s, transform 0.5s 0.5s;
  }

  &.-prev {
    opacity: 0;
    pointer-events: none;
    transform: translate(0, -32px);
    transition: opacity 0.5s, transform 0.5s;
  }

  .main-container {
    max-width: 900px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }

  .copyright{
    font-size: 12px;
    color: #FFFFFF;
    opacity: 0.6;
    width: 100%;
    position: absolute;
    bottom: 100px;
    left: 15px;

  }
}

.contact-grid {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .header {
    font-family: $font-add;
    font-weight: bold;
    font-size: 44px;
    line-height: 57px;

    color: #ffffff;
  }

  .text {
    margin-top: 32px;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    color: rgba(255, 255, 255, 0.8);

    a {
      color: rgba(255, 255, 255, 1);
      text-decoration: none;
    }
  }
}

.info-col {
  margin-right: 40px;
}
.form-col{
  width: 370px;
  min-width: 370px;
}

#form-container {
}

.contact-form {
  padding: 16px 32px 32px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  display: flex;
  flex-direction: column;

  .input-group {
    height: 56px;
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    &:first-child {
      margin-top: 0;
    }

    position: relative;
    input,
    textarea {
      height: 56px;
      font-size: 16px;
      color: white;
      display: block;
      background-color: transparent;
      border: none;
      padding-left: 0;
      resize: none;

      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      &:focus,
      &:valid {
        & ~ label {
          font-size: 10px;
          transform: translate(0, -22px);
        }
      }
    }
    textarea {
      padding-top: 18px;
    }
    label {
      position: absolute;
      height: 56px;
      font-size: 16px;
      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, 0.4);
      pointer-events: none;

      transition: font-size 0.5s, transform 0.5s;
    }
  }

  .simple-button {
    margin-top: 32px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: .2s ease-in-out all;
    &:hover {
      opacity: 1;
    }

    opacity: 0.4;
  }
}



@media (max-width: $xl) {
  .form-col {
    margin-right: 75px;
  }
}

@media (max-width: $lg) {
  .contact-grid .text{
    font-size: 14px;
  }
}

@media (max-width: $md) {
  #contact {
    background: url(../img/mobile-bg-01.jpg) center bottom/cover no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
    .header{
      font-size: 44px;
      line-height: 1.2;
    }
    .copyright{
      position: static;
    }
  }
  .contact-form{
    padding: 0;
    border: none;
    .simple-button{
      width: 100%;
    }
  }
  .form-col {
    width: 100%;
    margin-right: 0;
    margin-bottom: 90px;
    margin-top: 50px;
  }
  .contact-grid {
    flex-direction: column;
  }

}