.fullscreen-section {
  //width: 100vw;
  width: 100%;
  height: 100vh;
  //min-height: 800px;
  min-height: 706px;
  position: relative;
  z-index: 1;
  transition: .2s ease-in-out filter;

  position: absolute !important;
  top: 0;
  left: 0;

  &.-load {
    pointer-events: none !important;
  }

  // opacity: 0;
  // &.-active {
  //   opacity: 1;
  // }
}

